/* spotify stuff */

#spotify-con {
	border: solid #bebebe 1px;
	padding: 1em;
	border-radius: 0.5em;
	/* margin-bottom: 2em; */
	margin-top: 0.5em;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.spotify #albumart {
	width: 25%;
	height: auto;
	margin-right: 1em;
	border-radius: 0.5em;
}

#album {
	opacity: 0.7;
}

#logo {
	width: 1.2em;
	margin-right: 1em;
}

.logolink {
	position: absolute;
	top: 0.8em;
	right: 0;
}

.spotify h5 {
	font-size: 1.1em;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spotify a:hover {
	color: #b83030;
}

.songinfo {
	box-sizing: border-box;
	width: 62%;
}

.toptr {
	font-size: 1.2em;
}

/* Equalizer animation */

#equalizer {
	width: 1.5em;
	margin-left: 0.2em;
	display: none;
}

#bar1, #bar2, #bar3, #bar4 {
	fill: #c01818;
}

#bar1 {
	animation: bar1 1s infinite linear;
}

#bar2 {
	animation: bar2 0.6s infinite linear;
}

#bar3 {
	animation: bar3 0.8s infinite linear;
}

#bar4 {
	animation: bar4 0.6s infinite linear;
}

@keyframes bar1 {
	0% {
		height: 2px;
	}
	50% {
		height: 7px;
	}
	100% {
		height: 2px;
	}
}

@keyframes bar2 {
	0% {
		height: 5px;
	}
	40% {
		height: 1px;
	}
	80% {
		height: 7px;
	}
	100% {
		height: 5px;
	}
}

@keyframes bar3 {
	0% {
		height: 7px;
	}
	50% {
		height: 0;
	}
	100% {
		height: 7px;
	}
}

@keyframes bar4 {
	0% {
		height: 2px;
	}
	50% {
		height: 7px;
	}
	100% {
		height: 2px;
	}
}

.top {
	margin-top: 0.5em;
}

.check {
	transition: 0.5s;
}

.check:hover {
	color: #b83030;
	margin-right: 0.3em;
}