@font-face {
	font-family: "europa";
	src: url("./fonts/bold.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "europa-regular";
	src: url("./fonts/regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'europa-regular', 'segoe ui', 'Arial', 'sans-serif';
	background-color: #eaeaea;
	transition: 0.5s;
}

.title {
	font-family: 'europa', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 0;
}

.img {
	width: 100%;
}

.arhaan {
	margin-bottom: 0.2em;
	border-radius: 0.5em;
	width: 35%;
}

a {
	text-decoration: none;
	position: relative;
	color: #222;
}

a:hover {
	color: #222;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.socials a {
	margin-right: 1em;
	margin-top: 0;
}

.link {
	transition: 0.5s;
}

.link:hover {
	color: #121314;
}

.link:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 60%;
	left: -0.1em;
	right: -0.1em;
	bottom: 0;
	transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
	background-color: #f1414152;
}

.link:hover:after {
	top: 0%;
}

::-moz-selection {
	/* Code for Firefox */
	background: #f1414152;
}

::selection {
	background: #f1414152;
}

img, footer, button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flex-con {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center {
	text-align: center;
}

.med {
	font-family: 'europa';
}

.yoz {
	text-align: center;
}

@media (max-width: 550px) {
	.flex-con {
		height: 90vh;
		margin: auto 0;
	}
}

@media (max-width: 750px) {
	.arhaan {
		width: 50%;
	}
}

@media (max-width: 320px) {
	.flex-con {
		height: 100vh;
		margin: auto 0;
	}
}

@media (max-height: 530px) {
	.flex-con {
		height: auto;
		margin: 3em 0;
	}
}

#moon {
	width: 1.1em;
	margin-bottom: -0.3em;
}

.dark-mode {
	background-color: rgb(17, 17, 17);
	color: #eaeaea;
	transition: 0.5s;
}

.dark-mode .link:hover {
	transition: 0.5s;
	color: #fff;
}

.dark-mode a {
	color: #fff;
}

.dark-mode a:hover {
	color: #fff;
}

.no {
	display: none;
}

.darkbtn {
	margin-bottom: -0.3em;
	cursor: pointer;
}

.info p {
	opacity: 0.8;
}

/* Projects Page */

#projects {
	margin-top: 5em;
}

.grid {
	display: grid;
	grid-gap: 3em;
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 750px) {
	.grid {
		display: grid;
		grid-gap: 3em;
		grid-template-columns: repeat(1, 1fr);
	}
}

#websites {
	margin: 1em 0;
}

.card {
	border: solid rgb(197, 197, 197) 1px;
	border-radius: 0.5em;
	padding: 1em;
	transition: 0.5s;
}

.card h5 {
	margin: 0;
}

.card:hover {
	background-color: #fff;
	border-color: #fff;
	box-shadow: 12px 12px 29px #bababa, -12px -12px 29px #ffffff;
}

button.ghost {
	font-family: 'europa', 'sans-serif';
	background-color: transparent !important;
	color: #222 !important;
	border: solid 1px rgba(255, 255, 255, 0) !important;
	/* rgba(102, 152, 238, 0.3) */
	transition: 0.3s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transform: translateY(0px);
}

button.ghost:hover {
	background-color: rgba(102, 152, 238, 0.3) !important;
	border: solid 1px rgba(102, 152, 238, 0) !important;
	color: #2167ac !important;
}

.card button {
	position: absolute;
	margin-bottom: 4em;
	bottom: 0em;
}

.card p {
	margin-bottom: 3em;
}

.mpoint {
	margin-bottom: 0.1em;
}

.gray, .grey {
	opacity: 0.8;
}

/* spotify stuff */

#spotify-con {
	border: solid #bebebe 1px;
	padding: 1em;
	border-radius: 0.5em;
	margin-bottom: 2em;
	margin-top: 0.5em;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.spotify #albumart {
	width: 25%;
	height: auto;
	margin-right: 1em;
	border-radius: 0.5em;
}

#album {
	opacity: 0.7;
}

#logo {
	width: 1.2em;
	margin-right: 1em;
}

.logolink {
	position: absolute;
	top: 0.8em;
	right: 0;
}

.spotify h5 {
	font-size: 1.1em;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spotify a:hover {
	color: #b83030;
}

.songinfo {
	box-sizing: border-box;
	width: 62%;
}

/* Equalizer animation */

#equalizer {
	width: 1.5em;
	margin-left: 0.2em;
	display: none;
}

#bar1, #bar2, #bar3, #bar4 {
	fill: #c01818;
}

#bar1 {
	animation: bar1 1s infinite linear;
}

#bar2 {
	animation: bar2 0.6s infinite linear;
}

#bar3 {
	animation: bar3 0.8s infinite linear;
}

#bar4 {
	animation: bar4 0.6s infinite linear;
}

@keyframes bar1 {
	0% {
		height: 2px;
	}
	50% {
		height: 7px;
	}
	100% {
		height: 2px;
	}
}

@keyframes bar2 {
	0% {
		height: 5px;
	}
	40% {
		height: 1px;
	}
	80% {
		height: 7px;
	}
	100% {
		height: 5px;
	}
}

@keyframes bar3 {
	0% {
		height: 7px;
	}
	50% {
		height: 0;
	}
	100% {
		height: 7px;
	}
}

@keyframes bar4 {
	0% {
		height: 2px;
	}
	50% {
		height: 7px;
	}
	100% {
		height: 2px;
	}
}